<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travletravle">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travletravle">
        <activity android:name=".chi_tiet_hoa_don_ks"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <activity android:name=".Map" />
        <activity android:name=".PhanHoiActivity" />
        <activity android:name=".ChiTietHoaDon" />
        <activity android:name=".FormKhachsanActivity" />
        <activity
            android:name=".KhachsanActivity"
            android:parentActivityName=".TourActivity" />
        <activity android:name=".ThongTinNguoiDungDatKSActivity" />
        <activity android:name=".FormDiadiem_Activity" />
        <activity
            android:name=".DiemdenActivity"
            android:parentActivityName=".TourActivity" />
        <activity android:name=".Noidung_Nhahang" />
        <activity android:name=".Noidung_Amthuc" />
        <activity
            android:name=".FormLehoi_Activity"
            android:parentActivityName=".TourActivity" />
        <activity android:name=".Noidung_Baiviet" />
        <activity android:name=".ThongTinNguoiDungActivity" />
        <activity android:name=".TourItemActivity" />
        <activity
            android:name=".TourActivity"
            android:parentActivityName=".TourItemActivity" />
        <activity android:name=".Noidung_Tintuc" />
        <activity
            android:name=".AmThucActivity"
            android:parentActivityName=".TourActivity" />
        <activity
            android:name=".GioithieuActivity"
            android:parentActivityName=".TourActivity" />
        <activity
            android:name=".TinTucActivity"
            android:parentActivityName=".TourActivity" />
        <activity android:name=".LeHoiActivity" />
        <activity android:name=".Dangki" />
        <activity android:name=".Dangnhap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>